*.iml
.gradle
/local.properties
.idea
/.idea/workspace.xml
/.idea/libraries
.gradle/
.DS_Store
/build
/captures
*.keystore
gradle.properties
obj/
/app/config

app/src/main/java/net/gility/okweather/config/BuildVars.java
